<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <link rel="stylesheet" type="text/css" href="public/style.css" />
  </head>
  <body>
    <div>
      <h1>Request Header Parser Microservice</h1>
    </div>
    <div>
      <h2>User Story</h2>
      <p>I can get the IP address, preferred languages (from header Accept-Language) and system infos (from header User-Agent) for my device.</p>
      <h2>Example</h2>
      <p>https://requesting-header-microservice.herokuapp.com/api/whoami</p>
      <h2>Result</h2>
      <code>{ipaddress: "::ffff:10.138.92.231", language: "en-US", software: "OS: Windows 10.0, Browswer: Chrome"}</code>
    </div>

  </body>
</html>
